 @charset"UTF-8";
/*CSS Doc*/

/* comments */

.hidden
{
	display: none;
}

/* Colour Palette */
/* sky blue && greens */
/* b8ecd9 */
/* 083642 */
/* b0df49  dark blue */
/* cdf0a7 */
 /* 476c5f */
 /* 35700d  hover green */


/* Logo Greens below */
/* 9abd4b primary green */
/* 5d7132 lime green  */
/* d8ae58  brown */

/*font-family: 'Noticia Text', serif; */
/*font-family: 'Source Sans Pro', sans-serif; */
body
{
	font-family: 'Source Sans Pro', Georgia, sans-serif;

}

p 
{	
	font-size: 14px;
	line-height: 28px;
}

a:any-link 
{
	color: #000;
	text-decoration: none;
	cursor: auto;
}

div a {
	font-size: 12px;
}


/* This will fill all my content */
#topInfo
{	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 1440px;
	height: 54px;
	margin: 0 auto;
	background-color: #9abd4b;
}

.holder
{
	display: flex;
	flex-direction: row;
	margin: 0 auto;

}

/* very top telephone number and social area container */
#contactTop
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 300px;
	height: 27px;
	margin-top: 12px;
	margin-right: 750px;
	color: #000;
}

#socialTop{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#socialMedia{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#socialMedia ul li{
	filter: gray; /*for IE6-9*/
	-webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
	list-style: none;
	display: inline;
	padding: 7px;
	align-items: center;
}

#socialMedia ul li:hover{	
  filter: none;
  -webkit-filter: grayscale(0%);
}

/* put DIVs the the siteContianer */
#siteContainer
{
	width: 1200px;
	margin: 0 auto;
}


#mainHeader
{
	display: flex;
	flex-direction: row;
	margin-top: 40px;

}

/*This is a flex for logo */
#logo
{	
	width: 250px;
	height: 250px;
	border-radius: 50%;

}

.navCon{
	margin-left: auto;
	height: 100px;
	margin-bottom: 30px;
}

#mainNav
{	
	display:flex;
	flex-direction: column;
	margin-left: auto;
	width: 830px;
	margin-top: 96px;
	margin-bottom: 15px;

}
 
#mainNav ul
{
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
}

#mainNav ul li {
	font-size: 16px;
	margin-left: 0px;
	letter-spacing: 0.03em;
}

#mainNav ul li a{
	font-size: 16px;
	-webkit-transition: color 0.4s ease-out;
  	-moz-transition: color 0.4s ease-out;
  	-o-transition: color 0.4s ease-out;
  	transition: color 0.4s ease-out;
	text-decoration: none;	
	color: #5d7132;
}

#mainNav ul li a:hover{
	color: #d8ae58;
	padding-bottom: 10px;

}

/*#selected
{

	width: 100px ;
	padding: 10px;	
	background-color: #5d7132;
	display: inline-block;	
 	border-radius: 50px;

}
*/

/* feature container */
#featuredCon
{
	display: flex;
	flex-direction; row;
	position: absolute;
	margin-top: 370px;
}

#featuredImage
{	
	height: 510px;
	width: 732px;
	background-color: #282828;
	margin-right: 60px;
}

/* Container */
#featureStack{
	display: flex;
	flex-direction: column;
}

#featuredImageDesc
{
	width: 420px;
	margin-top: 50px;

}	

/* Title */
#featureStack h3{
	width: 410px;
	font-family: 'Noticia Text', Georgia, sans-serif;
	font-weight: 700;
	font-size: 36px;
	line-height: 50px;
}

#featureStack p
{
	width: 400px;
	margin-bottom: 10px;
}



.featBut
{
	font-weight: bold;
	display: block;
	width: 170px;
	padding: 15px;
	text-align: center;
	margin-top: 20px;
	border-radius: 25px;
	color: #fff;
	background-color: #9abd4b;
	-webkit-transition: color 0.4s ease-out;
  	-moz-transition: color 0.4s ease-out;
  	-o-transition: color 0.4s ease-out;
  	transition: color 0.4s ease-out;
	
}

.featBut:Hover
{
	color: #fff;
	background-color: #35700d;
}

	
#featureStack{
	display: flex;
	flex-direction: column;
}

/* Space create within the body */
.space
{
	margin-bottom: 700px;
}

/* project section container */
#projectSection

{	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
	height: 240px;
}

#projectSection h3
{
	
	font-family: 'Noticia Text', Georgia, sans-serif;
	font-weight: 700;
	font-size: 36px;
	height: 65px;
	letter-spacing: 0.03em;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 38px;
}

#boldStyling
{
	font-size: 16px; 
	font-weight: 600;
	color: #d8ae58;
}


#projectSection p
{
	width: 750px;
	color: #000;
	font-size: 16px;
	text-align: center;
	margin: 0 auto;
	
}

/* two boxes on each side */
.projectCon
{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin: 0 auto;
	margin-top: 60px;
	margin-bottom: 120px;	
}

.projectCon h2 
{
	font-family: 'Noticia Text', Georgia, serif;
	font-weight: 700;
	font-size: 28px;
	letter-spacing: 0.03em;
	margin-top: 60px;
	margin-bottom: 35px;
	text-align: center;
}

/* section container */
#projectImage1, #projectImage2 
{	
	width: 500px;
	height: 350px;
	margin: 0 auto;
}

.projectText
{	width: 325px;
	text-align: center;
}

/* center the containter to the wrapper projectCon */
.troutCon
{
	display: flex;
	flex-direction: column;
	align-items: center;
}
/* psuh the button down */
.troutCon a
{
	margin-top: 40px;
}

.rodCon
{
	display: flex;
	flex-direction: column;
	align-items: center;
}
/* push the button down */
.rodCon a
{
	margin-top: 40px;
}

/* section buttons */
.projBut
{
	font-weight: bold;
	display: block;
	width: 170px;
	padding: 15px;
	text-align: center;
	margin-top: 20px;
	border-radius: 25px;
	color: #fff;
	background-color: #9abd4b;
	-webkit-transition: color 0.4s ease-out;
  	-moz-transition: color 0.4s ease-out;
  	-o-transition: color 0.4s ease-out;
  	transition: color 0.4s ease-out;
	
}

.projBut:Hover
{
	color: #fff;
	background-color: #35700d;
}

/* Funding start: using the image as the background ; */
.fundingSection
{
	display: flex;
	flex-direction: row;
	height: 500px;
	margin-bottom: 110px;
	background: url('../images/filip-mroz-169103-unsplash_opt.jpg') center no-repeat; 
}


.fundBut
{
	font-weight: bold;
	display: block;
	width: 170px;
	padding: 15px;
	text-align: center;
	margin-top: 20px;
	border-radius: 25px;
	color: #fff;
	background-color: #9abd4b;
	-webkit-transition: color 0.4s ease-out;
  	-moz-transition: color 0.4s ease-out;
  	-o-transition: color 0.4s ease-out;
  	transition: color 0.4s ease-out;
	
}

.fundBut:Hover{

	color: #fff;
	background-color: #35700d;
}

#fundingCon
{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	margin-top:150px;
}

#fundingCon h3
{
	font-family: 'Noticia Text', Georgia, serif;
	font-weight: 700;
	font-size: 36px;
	color: #fff;
	letter-spacing: 0.03em;
	margin-bottom: 35px;
	text-align: center;

}

#fundingTitle
{
	width: 250px;
	height: 36px;
	margin-bottom: 30px;

}

.fundingText
{
	width: 500px;
	height: 50px;
	text-align: center;
	color: #fff;
	margin-bottom: 40px;
}
/* Funding End */

/* Shop start */
#shopCon
{
	display: flex;
	flex-direction: row;
	margin-bottom: 130px;
}

#shopTitle
{
	font-family: 'Noticia Text', Georgia, sans-serif;
	font-weight: 700;
	font-size: 36px;
	height: 65px;
	letter-spacing: 0.03em;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 55px;
}


#shopImage
{	
	height: 510px;
	width: 732px;
	background-color: #282828;
	margin-right: 60px;
}

#shopStack{
	display: flex;
	flex-direction: column;

}

#shopImageDesc
{
	width: 375px;

}

#shopStack p
{
	margin-bottom: 20px;
}	

.shopBut
{
	font-weight: bold;
	display: block;
	width: 170px;
	padding: 15px;
	text-align: center;
	border-radius: 25px;
	color: #fff;
	background-color: #9abd4b;
	-webkit-transition: color 0.4s ease-out;
  	-moz-transition: color 0.4s ease-out;
  	-o-transition: color 0.4s ease-out;
  	transition: color 0.4s ease-out;
	
}

.shopBut:Hover
{
	color: #fff;
	background-color: #35700d;

}
/* shop end */

/* newsfeed start */
.newsfeedCon
{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	background-color: #083642;
	margin-bottom: 110px;

}

/* center content inside its container  */
.newsfeed
{	
	margin: 0 auto;
}

.newsfeedCon h3
{
	font-family: 'Noticia Text', Georgia, sans-serif;
	font-weight: 700;
	font-size: 36px;
	height: 65px;
	letter-spacing: 0.03em;
	text-align: center;
	margin: 0 auto;	
	margin-top: 70px;
	margin-bottom: 20px;


}

.newsfeedText
{

	font-family: 'Source Sans Pro', sans-serif; 
	font-size: 24px;
	width: 600px;
	height: 50px;
	text-align: center;
	margin-bottom: 20px;
	margin: 0 auto;
}
/* side by side feeds */
.juxtaSocial
{
	display: flex;
	flex-direction: row;
	margin-top: 60px;
	margin-bottom: 60px;
}

.fb-comment-embed
{
	width:400px;
	height: 450px;
	margin-right: 60px;
	background-color: #696969;
}

.twitter-comment-embed
{
	width:400px;
	height: 450px;
	background-color: #696969;
}


/* volunteer start */
.volunteerSection
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#volunteerTitle
{	
	width: 212px;
	height: 36px;
	text-align: center;
	background-color: #696969;
	margin: 0 auto;

}

#volunteerCon
{
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}

/* home page profile */
#profileCon
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 300px;
	height: 400px;
	margin-bottom: 90px;

}

.profileImage
{
	width: 120px;
	height: 120px;
	position: relative;
	top: 40px;
	border-radius: 100px;
	margin: 0 auto;
	background-color: #696969;
}

/* Social Media */
.socialProfile
{	
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 230px;
	margin-bottom: 55px;	
	border-radius: 4px;
	background-color: #dcdcdc;
}


.volunteerNam
{
	letter-spacing: 0.03em;
	font-size: 19px;
	border-top: 1px solid #696969;
	padding-top: 13px;
	margin-top: 60px;
}

/* home page normal */
.justVolunteer
{
	letter-spacing: 0.03em;
	color: #979797;
	margin-bottom: 70px;
}

.socialProfile #volunteetNam
{
/*	width: 160px;
*/	text-align: center;
	margin: 0 auto;
	border-top: 1px solid #696969;
}

.executiveProfile
{
	width: 160px;
	text-align: center;
	margin: 0 auto;

}

.socialmediaIcons
{	
	width: 180px;
	height: 28px;
	position: relative;
	bottom: 30px;
	background-color: #696969;
}

/* volunteer end */
/* partner start */
#partnerCon
{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
/*	margin-top: 135px;*/
}

#partnerTitle
{
	width: 250px;
	height: 36px;
	text-align: center;
	color: #696969;
	margin-bottom: 30px;
	background-color: #696969;

}

.partnerText
{
	width: 600px;
	height: 50px;
	text-align: center;
	color: #696969;
	background-color: #696969;
	margin-bottom: 50px;
}

.partnerFeature
{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin: 0 auto;
}

.partnerLogo
{
	width: 160px;
	height: 50px;
	margin: 40px;
	background-color: #282828;
}

/* partner end */


/* question section */
.questionSection
{
	width: 1020px;
	height: 110px;
	position: relative;
	margin: 0 auto;
	bottom: 50px;
	background-color: #dcdcdc;
	justify-content: space-evenly;
}

.haveQuestion
{
	display: flex;
	flex-direction: row;
	margin: 23px 25px 25px 70px;

}

.haveQuestion h3
{
	width: 200px;
	height: 20px;
	margin-bottom: 14px;
	font-size: 16px;
	background-color: #696969;

}

.haveQuestion p
{
	width: 240px;
	height: 30px;
	font-size: 16px;
	background-color: #282828;
}

#questionNumber
{
	display: flex;
	flex-direction: column;
}

.emailSection
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;

}


#emailForm
{	
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	margin-left: 30px;

}

/* to make the search stay of the right side*/

#emailForm input
{
	width: 290px;
	padding: 14px 26px 14px 25px;
	border: 1px solid #d1d1d1;
	bottom: 56px;
	border-radius: 20px;
	margin-right: 30px;
}

.subscribeTitle
{
	width: 111px;
	height: 30px;
	background-color: #696969;
}
/* question end  */


/* mission start */
.missionSection
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0 auto;
}

#missionTitle
{	
	width: 212px;
	height: 36px;
	text-align: center;
	background-color: #696969;
	margin: 0 auto;

}

#missionCon
{
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}

/* mission statement end */
.missionCon
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 45px;

}

#missionWrapper
{
	display: flex;
	flex-direction: column;
}

#missionInfo
{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	width: 1020px;
	height: 310px;
	margin-top: 40px;

}

/* our mission start */
.ourMission
{
	width: 260px;
	background-color: #282828;
}

.quickLinks
{
	width: 260px;
	background-color: #282828;
}
.contactUs
{
	width: 260px;
	border-left: 1px solid #fff;
	background-color: #282828;
}


/*copyright start */

#copyRight
{	

	position: absolute;
	width: 1440px;
	height: 56px;
	margin-top: 540px;
	background-color: #dcdcdc;
}

.copyrightCopy 
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 15px;

}

.socialmediaFooter
{
	width: 200px;
	height: 25px;
	margin-left: ;
	background-color: #696969;

}

/* About section start CSS */
.aboutSpace
{
	margin-bottom: 820px;
}

/*  title header for the section */
#aboutSection
{
	margin-top: 110px;
	padding-top: 72px;
	border-top: 1px solid #333;

}

#aboutSection h3
{	
	width: 611px;
	height: 65px;
	color: #696969;
	text-align: center;
	background-color: #696969;
	margin: 0 auto;
	margin-top: 10px;

}
/* intro top section wrapper */
#aboutCon
{
	display: flex;
	flex-direction; row;
	position: absolute;
	margin-top: 670px;
}


#aboutImage
{	
	height: 600px;
	width: 732px;
	background-color: #282828;
	margin-right: 60px;
}

#aboutImageDesc
{
	width: 360px;
	height: 598px;
	background-color: #a9a9a9;

}
/* executive profile columns */
.executiveSection
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-bottom: 1px solid #000;
}
/* section title on the right side */
#executiveTitle
{	
	margin-right: auto;
	width: 650px;
	height: 36px;
	background-color: #696969;
	margin-top: 90px;
	margin-bottom: 40px;

}

.bulletpointCon
{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin: 0 auto;
	width: 840px;
	margin-top: 20px;
	margin-bottom: 120px;	
}

#otherTitle
{
	width: 611px;
	height: 65px;
	color: #696969;
	text-align: center;
	background-color: #696969;
	margin: 0 auto;
	margin-top: 40px;
	margin-bottom: 80px; 
}

/* spacing the bullet points */
.bulletpointCon p
{
	margin-bottom: 20px;
}

/* center the containter to the wrapper projectCon */
.bulletpointLeft
{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-right: 60px;

}

.bulletpointRight
{
	border-left: 1px solid #282828;
	padding-left: 60px;
}

.bulletpointRightCon
{
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* TRAA Executives && Volunteer Committee Chairs*/
#executiveCon-1
{
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}

#executiveCon-1 h3
{
	margin-left: revert;

}

#executiveCon-2
{
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	margin-top: 40px;
}
/* TRAA Committee section title */
#executiveCon-2 h3
{
	margin-left: revert;
}


.executiveNam
{
	letter-spacing: 0.03em;
	font-size: 16px;
	font-weight: bold;
	text-align: left;
}

/* Just the normal title */
.rankTitle
{
	letter-spacing: 0.03em;
	color: #979797;
	margin-top: 60px;
	text-align: left;
}

.committeeSection
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 40px;
}

/* about page volunteer section */
#profileconUpper
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 1120px;
	height: 400px;
	margin-top: 50px;
}

/* about page volunteer section */
#profileconLower
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 1120px;
	height: 400px;
	margin-top: 50px;
}

/* home page profile */
#profileCon
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 760px;
	height: 400px;
	margin-top: 90px;

}

.socialprofileAbout
{
	text-align: center;
	width: 200px;
	height: 280px;
	margin-bottom: 55px;	
	border-radius: 4px;
	background-color: #dcdcdc;
}

.socialprofileAbout h4
{	
	margin-top: 80px;
}

.profileImage
{
	width: 120px;
	height: 120px;
	position: relative;
	top: 40px;
	border-radius: 100px;
	margin: 0 auto;
	background-color: #696969;
}

/* home page volunteer title */
.justVolunteer
{
	letter-spacing: 0.03em;
	color: #979797;
	margin-bottom: 70px;
}

/* personel job title */
.traaexecTitle
{
	letter-spacing: 0.03em;
	font-weight: bold;

}

.personName
{
	letter-spacing: 0.03em;
	color: #979797;
}

#aboutFooter
{	
	display: flex;
	flex-direction: row;
	position: absolute;
	height: 545px;
	width: 1440px;
	margin-top: 3875px;
	background-color: #696969;

}

/* about section end positioned absolute */
/* project section start */
#canvasCon
{
	display: flex;
	flex-direction; row;
	position: absolute;
	margin-top: 370px; /* height similar to the homepage */
}

/* image full width */
#projectImage

{	
	width: 1440px;
	height: 510px;
	background-color: #282828;
	margin-right: 60px;
}

/* content copy area */
#projecttextArea
{
	width: 980px;
	height: 2000px;
	margin: 0 auto;
	margin-top: 430px;
	background-color: #dcdcdc;
/* add a drop shadow */
}	

/* article title */
#articleHeading
{	
	width: 900px;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
	border-bottom: 1px solid #333;
	margin: 0 auto;
}

#projecttextArea p
{
	width: 900px;
	padding-top: 50px;
	text-align: left;
	line-height: 50px;
	letter-spacing: 0.03em;
	margin-bottom: 20px;
	margin: 0 auto;
}

/* project section end */
#mainFooter
{	
	display: flex;
	flex-direction: row;
	position: absolute;
	height: 545px;
	width: 1440px;
	margin-top: 5400px;
	background-color: #083642;

}
