 @charset"UTF-8";
/*CSS Doc*/

/* comments */

.hidden
{
	display: none;
}

/* Colour Palette */
/* sky blue && greens */
/* b8ecd9 */
/* 083642 dark blue */
/* b0df49  lime green */
/* cdf0a7 */
 /* 476c5f */
 /* 35700d  hover green */


/* Logo Greens below */
/* 9abd4b primary green */
/* 5d7132 lime green  */
/* d8ae58  brown */

/*font-family: 'Noticia Text', serif; */
/*font-family: 'Source Sans Pro', sans-serif; */
body
{
	font-family: 'Source Sans Pro', Georgia, sans-serif;

}

p 
{	
	font-size: 14px;
	line-height: 28px;
}

a:any-link 
{
	color: #000;
	text-decoration: none;
	cursor: auto;
}

div a {
	font-size: 12px;
}


/* This will fill all my content */
#topInfo
{	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 1440px;
	height: 54px;
	margin: 0 auto;
	background-color: #9abd4b;
}

.holder
{
	display: flex;
	flex-direction: row;
	margin: 0 auto;

}

/* very top telephone number and social area container */
#contactTop
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 300px;
	height: 27px;
	margin-top: 12px;
	margin-right: 750px;
	color: #000;
}

#socialTop{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.socialMedia{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.socialMedia ul li{
	filter: brightness(0.30); /*for IE6-9*/
	-webkit-filter: brightness(100%); /* Chrome 19+ & Safari 6+ */
	list-style: none;
	display: inline;
	padding: 7px;
	align-items: center;
}

.socialMedia ul li:hover{	
  filter: none;
  -webkit-filter: brightness(0%);
}

/* put DIVs the the siteContianer */
#siteContainer
{
	width: 1200px;
	margin: 0 auto;
}


#mainHeader
{
	display: flex;
	flex-direction: row;
	margin-top: 40px;

}

/*This is a flex for logo */
#logo
{	
	width: 250px;
	height: 250px;
	border-radius: 50%;

}

.navCon{
	margin-left: auto;
	height: 100px;
	margin-bottom: 30px;
}

#mainNav
{	
	display:flex;
	flex-direction: column;
	margin-left: auto;
	width: 830px;
	margin-top: 96px;
	margin-bottom: 15px;

}

/* drop downmenu start  */
li 
{
 	display: block;
 	float: left;
 	padding: 10px;
    position: relative;
    text-decoration: none;
 	transition-duration: 0.2s;
}

li:hover 
{
 	cursor: pointer;
}

ul li ul 
{
	visibility: hidden;
	opacity: 0;
	position: absolute;
	transition: all 0.2s ease;
	margin-top: 10px;
	display: none;
}

/* hover meat and potatoes */
ul li:hover > ul, ul li ul:hover 
{
	visibility: visible;
	opacity: 1;
	color: #fff;
	background-color: #35700d;
	padding: 15px; 
}

ul li ul li 
{
	clear: both;
	width: 100%;
}
/* drop down end */
#mainNav ul
{
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
}

#mainNav ul li {
	font-size: 16px;
	font-weight: 600;
	margin-left: 0px;
	letter-spacing: 0.03em;
}

#mainNav ul li a{
	font-size: 16px;
	-webkit-transition: color 0.4s ease-out;
  	-moz-transition: color 0.4s ease-out;
  	-o-transition: color 0.4s ease-out;
  	transition: color 0.4s ease-out;
	text-decoration: none;	
	color: #5d7132;
}

#mainNav ul li a:hover{
	color: #d8ae58;
	padding-bottom: 10px;

}

/*#selected
{

	width: 100px ;
	padding: 10px;	
	background-color: #5d7132;
	display: inline-block;	
 	border-radius: 50px;

}
*/



/*contact page section*/


#contactTitle 
{
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 656px;
	height: 105px;
	margin: 0 auto;
	margin-bottom: 100px;
	margin-top: 100px;
}

#contactTitle h3
{
	font-family: 'Noticia Text', serif;
	font-size: 35px;
	margin: 10px;
	font-weight: 700;
	line-height: 50px;
}

#contactTitle h4
{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 28px;
	margin-top: 22px;

}

#googleMap
{
	display: flex;
	align-items: center;
	flex-direction: column;
	height: 600px;
	z-index: -1;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#contactForm
{
	display: flex;
    flex-direction: row;
    width: 910px;
    margin: 0 auto;
    background-color: white;
    position: relative;
    justify-content: space-evenly; 
   	bottom: 50px;
   	margin-bottom: -300px;
   /*	box-shadow: 10px 10px 5px #dcdcdc;*/
   	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


#contactText 
{
	display: flex;
	/*background-color: #696969;*/
	width: 266px;
	height: 279px;
	margin: 50px;
  	font-size: 18px;
  	margin-bottom: 30px;
  	width: 380px;
  	font-family: 'Source Sans Pro', sans-serif;
  	padding-top: 20px;

}

.vl 
{
	border-left: 1px solid black;
  	height: 700px;
 	position: absolute;
 	left: 50%;
  	margin-left: -60px;
  	margin-top: 50px;

}

.contactLable
{
	display: flex;
	/*background-color: #696969;*/
	width: 428px;
	height: 736px;
	margin: 50px;
	justify-content: center;
	font-size: 18px;
	font-family: 'Source Sans Pro', sans-serif;
}

#contactUi
{
	margin-top: 30px;
}


input, textarea
{
  font-size: 12px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  width: 300px;
  height: 10px;
  background-color: #efefef;
  display: block;
  border: 0.5px solid black;
  color: #333;
  font-family: 'Source Sans Pro', sans-serif;
}

#messages
{
  width: 300px;
  height: 200px;
  margin-bottom: 50px;
}

#submit
{
/*  display: block;*/
  font-family: 'Source Sans Pro', sans-serif;
	font-weight: bold;
	display: flex;
	justify-content: center;
	width: 170px;
	height: 50px;
	padding: 15px;
	text-align: center;
	margin-top: 20px;
	border-radius: 25px;
	color: #fff;
	background-color: #9abd4b;
	-webkit-transition: color 0.4s ease-out;
  	-moz-transition: color 0.4s ease-out;
  	-o-transition: color 0.4s ease-out;
  	transition: color 0.4s ease-out;
	

}

#bgimg
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 1440px;
	margin: 0 auto;
	position: relative;
	z-index: -2;
}

/* question section */
/* question section */
.questionSection
{
	width: 1020px;
	height: 110px;	
	bottom: 50px;
	position: relative;
	justify-content: space-evenly;
	margin: 0 auto;
	background-color: #9abd4b;
	
}

.haveQuestion
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 25px;

}

.haveQuestion h3
{
	width: 200px;
	height: 20px;
	font-size: 16px;
	margin-bottom: 14px;
	color: #fff;

}

#questionNumber
{
	display: flex;
	flex-direction: column;
}

#questionNumber p
{
	font-weight: 600;
	font-size: 32px;
	color: #fff;

}
/* subcribe button */
.subscribeTitle
{
	width: 200px;
	text-align: center;
	padding: 7px;
	border-radius: 25px;
	font-weight: 700;
	font-size: 20px;
	color: #fff;
	background-color: #35700d;

}

.emailSection
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;

}


#emailForm
{	
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	margin-left: 30px;

}

/* to make the search stay of the right side*/

#emailForm input
{
	width: 290px;
	padding: 14px 26px 14px 25px;
	border: 1px solid #d1d1d1;
	bottom: 56px;
	border-radius: 25px;
	margin-right: 30px;
}

/* change font size */
input
{
	font-size: 14px;
}
/* Question submissionfeed end  */


/* mission start */
.missionSection
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0 auto;
}

#missionTitle
{	
	width: 212px;
	height: 36px;
	text-align: center;
	background-color: #696969;
	margin: 0 auto;

}

#missionCon
{
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}

/* mission statement end */
.missionCon
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 45px;

}

#missionWrapper
{
	display: flex;
	flex-direction: column;
}

#missionInfo
{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	width: 1020px;
	height: 310px;
	margin-top: 80px;

}

/* our mission start */
.ourMission h4
{
	width: 260px;
	font-size: 36px;
	font-weight: 700;
	color: #fff;
	letter-spacing: 0.02em;
}
.ourMission p
{
	width: 225px;
	margin-top: 25px;
	color: #fff;
}

.quickLinks
{
	width: 260px;
	color: #fff;
	border-right: 1px solid #fff;
}

.quickLinks a
{
	font-size: 16px;
	color: #fff;
}


/* iconFinder pointer */
.iconNudge
{
	padding-right: 10px; 
}
/*wrapper */
.contactUs
{
	color: #fff;
	
}
/* heading */
.contactUs h3
{
	width: 200px;
	font-size: 36px;
	font-weight: 700;
	color: #fff;
	letter-spacing: 0.02em;

}
/* text */
.contactUs p
{
	width: 225px;
	margin-top: 25px;
	color: #fff;
}

/*copyright start */
#copyRight
{	

	position: absolute;
	width: 1440px;
	height: 56px;
	margin-top: 540px;
	background-color: #9abd4b;
}

.copyrightCopy 
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 15px;

}

.socialmediaFooter
{
	width: 200px;
	height: 25px;

}


/* copyright end */
#mainFootercontact
{	
	width: 1440px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 545px;
	width: 1440px;
	background-color: #282828;
}

/*this is for the about section */

/*  title header for the section */
#aboutSection
{
	margin-top: 110px;
	padding-top: 72px;
	border-top: 1px solid #333;
	margin-bottom: 110px;

}

#aboutSection h3
{	
	width: 611px;
	height: 65px;
	text-align: center;
	margin: 0 auto;
	font-size: 35px;
	font-family: 'Noticia Text', serif;
	line-height: 50px;
	font-weight: 700;

}

/*about content section*/

#aboutCon
{
	display: flex;
	flex-direction; row;
	justify-content: center;
}


#aboutImage
{	
	height: 600px;
	width: 732px;
	background-color: #282828;
	margin-right: 60px;
}

#aboutImageDesc
{
	width: 360px;
	height: 598px;
	line-height: 28px;
}

#featureStack
{
	display: flex;
	flex-direction: column;
}
/*end of about desc*/


#otherTitle
{
	width: 760px;
	height: 65px;
	text-align: center;
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 80px; 
	font-size: 35px;
	font-family: 'Noticia Text', serif;
	font-weight: 700;
	line-height: 50px;
}

.bulletpointCon
{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin: 0 auto;
	width: 840px;
	margin-top: 20px;
	margin-bottom: 120px;	
}

/* spacing the bullet points */
.bulletpointCon p
{
	margin-bottom: 20px;
	font-size: 16px;

}

/* center the containter to the wrapper projectCon */
.bulletpointLeft
{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-right: 120px;
	padding-left: 60px;

}

.bulletpointRight
{
	border-left: 1px solid #282828;
	padding-left: 60px;
	padding-right: 20px;
	margin: 0 auto;
}

.bulletpointRightCon
{
	display: flex;
	flex-direction: column;
	align-items: center;
}

/*end of bullet point section*/


.committeeSection
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 40px;
}

#executiveCon-1
{
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	border-bottom: 1px solid black;
	margin-bottom: 50px;
}

#executiveCon-1 h3
{

	font-size: 28px;
	font-family: 'Noticia Text', serif;
	font-weight: 700;
}


/* about page volunteer section */
#profileconUpper
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 1120px;
	height: 400px;
	margin-top: 50px;
}

.socialprofileAbout
{
	text-align: center;
	width: 200px;
	height: 280px;
	margin-bottom: 55px;	
	border-radius: 4px;
}

.socialprofileAbout h4
{	
	margin-top: 80px;
}

.socialprofileAbout p
{	
	line-height: 20px;
}

.profileImageabout
{
	width: 120px;
	height: 120px;
	position: relative;
	top: 40px;
	border-radius: 100px;
	margin: 0 auto;
	background-color: #696969;
}

.profileImageabout img
{
	border-radius: 100px;
}

/* personel job title */
.traaaboutTitle
{
	letter-spacing: 0.03em;
	font-weight: bold;

}

/*part 2*/

#executiveCon-2
{
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	margin-top: 40px;
	margin-bottom: -200px;
}

/* TRAA Committee section title */
#executiveCon-2 h3
{

	font-size: 28px;
	font-family: 'Noticia Text', serif;
	font-weight: 700;
}


#profileconLower
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 1120px;
	height: 400px;
	margin-top: 50px;
}


#aboutimg
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 1440px;
	margin: 0 auto;
	position: relative;
	z-index: -2;
}

#aboutFooter
{	
	width: 1440px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 545px;
	width: 1440px;
	background-color: #282828;

}








.item { color: #B24005;
    font-size: 20px;
    text-align: left
}
.item:hover { color: #00B295;
          font-size: 20px;
          text-align: left
}
.myImg{
   display:none;
}
